:root{
    max-width: 1360px;
    margin: 0px auto;
    --hr-color: #202020
}

section{
    margin: 128px 0px;
}

hr{
    border-color: var(--hr-color);
    background-color: var(--hr-color);
    color: var(--hr-color);
}

.mt-10{
    margin-top: 10px;
}

.mt-20{
    margin-top: 20px;
}

.mt--32{
    margin-top: 32px;
}

.mt-64{
    margin-top: 64px;
}

.mb-10{
    margin-bottom: 10px;
}

.mb-64{
    margin-bottom: 64px;
}

.numberisfive{
    font-weight: 600;
    color: red;
}
.grid--3{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
}

.grid--row-2{
    display: grid;
    grid-template-rows: 1fr 1fr;
}

.grid--row-4{
    display: grid;
    grid-template-rows: 1fr 1fr 1fr 1fr;
}

.row-gap--5{
    row-gap: 5px;
}

.row-gap--10{
    row-gap: 10px;
}

.width-25{
    width: 25%;
}

#squareBox{
    width: 40px;
    height: 40px;
}

#easteregg{
    background-color: pink;
    border: 5px solid black;
    color: gray;
}

.modal__backdrop{
    opacity: 0;
    transition: opacity 1s ease-in-out;
}

.modal__backdrop.show{
    opacity: 1;
}